body {
  display: flex;
  justify-content: center;
}

.clock-container {
  background-color: orange;
  color: white;
  border: 1px solid black;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
}

.time-container {
  display: flex;
  justify-content: space-between;
}

.date-container {
  display: flex;
  justify-content: space-between;
}
